{% extends 'ovino/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block conteudo %}
    <h1>Título</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-8">
                {% csrf_token %}
                {{ form|crispy }}
<div>
   <input class="btn text-light p-5 form-control " type="submit" value="salvar" style="background: rgb(174, 142, 28)"> 
</div>
            </div>



        </div>
    
    </form>

{% endblock conteudo %}

