{% extends 'ovino/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block conteudo %}
   <h1 class="text-center my-4">Título</h1>

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {% csrf_token %}
                <!-- Formulário com Crispy Forms -->
                {{ form|crispy }}

                <!-- Botão de Enviar -->
                <div class="mt-3">
                    <input class="btn text-light p-3 w-100" type="submit" value="Salvar" 
                           style="background: rgb(174, 142, 28); font-size: 1.2rem;">
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock conteudo %}

