{% extends 'ovino/base.html' %}
{% block conteudo %}
<h1 class="text-center mb-4">Listagem de Ovinos</h1>

<div class="row gy-4">
    {% for ovino in ovinos %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
            <div class="card-body text-center">
                <p><strong>ID:</strong> {{ovino.id_ovino}}</p>
                <img src="{{ovino.foto_url}}" alt="Foto de {{ovino.nome_ovino}}" class="img-fluid rounded mb-3">
                <h5 class="card-title">{{ovino.matricula}}</h5>
                <p><strong>Nome:</strong> {{ovino.nome_ovino}}</p>
                <div class="row mb-2">
                    <div class="col-4"><small><strong>Sexo:</strong> {{ovino.sexo_ovino}}</small></div>
                    <div class="col-4"><small><strong>Nasc.:</strong> {{ovino.data_nasc}}</small></div>
                    <div class="col-4"><small><strong>Cad.:</strong> {{ovino.data_cad}}</small></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4"><small><strong>Peso:</strong> {{ovino.peso_ovino}}</small></div>
                    <div class="col-4"><small><strong>Cat.:</strong> {{ovino.id_categoria}}</small></div>
                    <div class="col-4"><small><strong>Raça:</strong> {{ovino.id_raca}}</small></div>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="{% url 'editar_ovino' ovino.id_ovino %}" class="btn btn-warning btn-sm"><img src="/static/icon/edite.webp" style="height: 40px; width: 40px; border-radius: 50px;"
                                                                                                          alt=""></a>
                    <a href="#" class="btn btn-danger btn-sm"><img src="/static/icon/pill.webp" style="height: 40px; width: 40px; border-radius: 50px;"
                                                                                                          alt=""></a>
                    <a href="{% url 'manutencao' ovino.id_ovino %}" class="btn btn-primary btn-sm"><img src="/static/icon/gear.webp" style="height: 40px; width: 40px; border-radius: 50px;"
                                                                                                          alt=""></a>
                    <a href="#" class="btn btn-info btn-sm"><img src="/static/icon/cadastro.webp" style="height: 40px; width: 40px; border-radius: 50px;"
                                                                                                          alt=""></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock conteudo %}
