{% extends 'ovino/base.html' %}
{% block conteudo %}
    <h1>Título</h1>

<div class="row">
    {% for ovino in ovinos %}
    <div class="col-md-2">
        <div class="card">
            <div>{{ovino.id_ovino}}</div>
            <div><img src="{{ovino.foto_url}}" alt=""></div>

            <div class="card-header">{{ovino.matricula}}</div>

            <div>{{ovino.nome_ovino}}</div>
            <div class="row">
                <div class="col-md-4">{{ovino.sexo_ovino}}</div>
                <div class="col-md-4">{{ovino.data_nasc}}</div>
                <div class="col-md-4">{{ovino.data_cad}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ovino.peso_ovino}}</div>
                <div class="col-md-4">{{ovino.id_categoria}}</div>
                <div class="col-md-4">{{ovino.id_raca}}</div>
            </div>

            <div class="row" >
                <a href="#" class="btn btn-warning col-md-3">manut</a>

                <a href="#" class="btn btn-warning col-md-3">manut</a>

                <a href="#" class="btn btn-warning col-md-3">manut</a>

                <a href="#" class="btn btn-warning col-md-3">manut</a>

            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock conteudo %}
