.sidebar {
    width: 250px;
    top: 0;
    left: 0;
    z-index: 1030;
    transition: transform 0.3s ease;
    transform: translateX(0); /* Visível por padrão */
}

.sidebar.hidden {
    transform: translateX(-100%); /* Oculta a sidebar */
}

.content {
    transition: margin-left 0.3s ease;
}

.content.ms-lg-250 {
    margin-left: 250px; /* Espaço da sidebar em telas grandes */
}

@media (max-width: 991.98px) {
    .content {
        margin-left: 0; /* Sem margem em telas pequenas */
    }
}
